# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [4]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [5]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

### Step 3. Assign it to a variable called users.

In [6]:
users = pd.read_csv(url, sep='|')
users.tail()

     user_id  age gender     occupation zip_code
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

### Step 4. Discover what is the mean age per occupation

In [7]:
mean_age = users[['age', 'occupation']].groupby(['occupation']).mean()
mean_age

                     age
occupation
administrator  38.746835
artist         31.392857
doctor         43.571429
educator       42.010526
engineer       36.388060
entertainment  29.222222
executive      38.718750
healthcare     41.562500
homemaker      32.571429
lawyer         36.750000
librarian      40.000000
marketing      37.615385
none           26.555556
other          34.523810
programmer     33.121212
retired        63.071429
salesman       35.666667
scientist      35.548387
student        22.081633
technician     33.148148
writer         36.311111

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [8]:
# encoding M as 1 and F as 0. then taking count of males and dividing it with toal gender count to get ratio for each occupation
users['is_male'] = np.where(users.gender == 'M', 1, 0)
(users.groupby('occupation').is_male.sum()/users.groupby('occupation').gender.count()).round(2).sort_values(ascending = False)

occupation
doctor           1.00
engineer         0.97
technician       0.96
retired          0.93
executive        0.91
programmer       0.91
scientist        0.90
entertainment    0.89
lawyer           0.83
salesman         0.75
educator         0.73
student          0.69
other            0.66
marketing        0.62
writer           0.58
none             0.56
administrator    0.54
artist           0.54
librarian        0.43
healthcare       0.31
homemaker        0.14
dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [9]:
min_age_oc = users.groupby('occupation').age.min()

print(min_age_oc)

occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64

In [10]:
max_age_oc = users.groupby('occupation').age.max()
print(max_age_oc)

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64

### Step 7. For each combination of occupation and gender, calculate the mean age

In [11]:
mean_age_OC_G =  users.groupby(['occupation','gender']).age.mean()
mean_age_OC_G

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [28]:
# men percentage per occupation
users['is_male'] = np.where(users.gender == 'M', 1, 0)
(users.groupby('occupation').is_male.sum()/users.groupby('occupation').gender.count() * 100).round(2).sort_values(ascending = False)

occupation
doctor           100.00
engineer          97.01
technician        96.30
retired           92.86
programmer        90.91
executive         90.62
scientist         90.32
entertainment     88.89
lawyer            83.33
salesman          75.00
educator          72.63
student           69.39
other             65.71
marketing         61.54
writer            57.78
none              55.56
administrator     54.43
artist            53.57
librarian         43.14
healthcare        31.25
homemaker         14.29
dtype: float64

In [29]:
# women percentage per occupation
users['is_female'] = np.where(users.gender == 'F',1,0)
(users.groupby('occupation').is_female.sum()/users.groupby('occupation').gender.count() * 100).round(2).sort_values(ascending = False)

occupation
homemaker        85.71
healthcare       68.75
librarian        56.86
artist           46.43
administrator    45.57
none             44.44
writer           42.22
marketing        38.46
other            34.29
student          30.61
educator         27.37
salesman         25.00
lawyer           16.67
entertainment    11.11
scientist         9.68
executive         9.38
programmer        9.09
retired           7.14
technician        3.70
engineer          2.99
doctor            0.00
dtype: float64